$background-bottom-right: #1E253D;
$background-top-left: #32263C;

$pink-200: #BF479A; // screen 3, round data series 3
$pink-300: #C05197; // screen 2, chart series 2
$pink-400: #C3529F; // screen 4, data series 1
$pink-500: #D43272; // screen 3, round data series 4
$pink-600: #D74398; // screen 5, chart data
$pink-700: #D38ABC; // screen 5, lower data series 1

$gray-100: #32394C; // screen 1, country color
$gray-200: #353448; // screen 3, dark area-graph fill
$gray-300: #4E5961; // screen 2, graph axis
$gray-400: #616272; // screen 4, darker graph line
$gray-500: #635D6D; // screen 3, dark graph line
$gray-600: #716D7C; // screen 3, lightest area-graph fill
$gray-700: #7A7583; // screen 3, lighter graph line
$gray-800: #808894; // screen 4, lightest graph line
$gray-900: #9C98A4;

$blue-green-300: #45C2CF; // screen 7, data series 3
$blue-green-400: #52C3C1; // screen 5, lower data series 2
$blue-green-500: #7CCFEA; // screen 7, data series 3
$blue-green-600: #7CCFEA; // screen 1, chart series 1
$blue-green-700: #41C6EA; // screen 2, chart series 1

$blue-200: #7B9DB8; // screen 2, round data series 2
$blue-300: #448C9D; // screen 6, data series 2
$blue-400: #247EBA; // screen 5, lower data series 3
$blue-500: #2284C5; // screen 6, people 2

$blue-purple-300: #4D59A7; // screen 4, line data series
$blue-purple-400: #3859A8; // screen 7, data series 1

$purple-100: #585BA9; // screen 1, chart series 2
$purple-200: #794EA0; // screen 3, round data series 1
$purple-300: #8D3E98; // screen 5, lower data series 5
$purple-400: #9854A1; // screen 4, data series 2
$purple-500: #9A4E9E; // screen 3, round data series 2

$red-500: #D83632; // screen 3, round data series 5

$orange-500: #D97D31; // screen 3, round data series 6

$yellow-400: #cacc3f;
$yellow-500: #E2E427; // screen 8, axis ends