@import '../../assets/scss/colors';

FlexBoxLayout {
	flex-direction: column;
	align-items: center;
	flex-grow: 0;
	--height-factor: 1;
}

.power-indicator {
	padding-top: 100px;
	padding-bottom: 100px;
	width: 100%;
	font-size: calc(240vh);
	margin-top: 40px;
	height: 40%;
	text-align: center;
	text-shadow: 0 0 56px white;
}

.power-on {
	color: $blue-green-400;

	.title {
		color: white;
	}
}

.power-off {
	color: $red-500;
}

.power-unknown {
	// color: $gray-600;
	color: $yellow-400;
}

.data {
	margin-top: -40px;
	font-size: calc(60vh);
	height: 9%;
}

.title {
	margin-top: -40px;
	font-size: calc(50vh);
	color: white;
	height: 8%;
}

.graph-title {
	margin-top: 60px;
	font-size: 60vh;
	color: white;
}

.graph {
	width: 90%;
}

.interruptions {
	font-size: calc(20vh);
	color: white;
}

RadCartesianChart {
	height: 41%;
	color: white;
}